#Hardhat files
cache
artifacts


# dependencies
package-lock.json
node_modules
.deps
.openzeppelin
.env
coverage
coverage.json
typechain
.pnp
.pnp.js

# compiling
/typechain-types

# testing
/coverage

# production
/build
*.accounts.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# hardhat-tenderly plugin
deployments